<app-header></app-header>

<div class="container text-center">

  <form #newBook="ngForm"
        (ngSubmit)="onSubmitNewBook(newBook)">

    <div class="form-group">
      <label for="bookName">
        Nom du livre
      </label>
      <input type="text"
             id="bookName"
             class="form-control"
             name="bookName"
             ngModel
             required>
    </div>

    <div class="form-group">
      <label for="authorName">
        Nom de l'auteur
      </label>
      <input type="text"
             id="authorName"
             class="form-control"
             name="authorName"
             ngModel
             required>
    </div>

    <div class="form-group">
      <label for="description">
        Description
      </label>
      <textarea
        id="description"
        class="form-control"
        name="description"
        ngModel
        maxlength="258"></textarea>
    </div>

    <div class="form-group">
      <label for="status">
        État du livre
      </label>
      <select id="status"
              class="form-control"
              name="status"
              [ngModel]="defaultStatus">
        <option value="pris">Pris</option>
        <option value="libre">Libre</option>
      </select>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="newBook.invalid">Ajouter !</button>

    <br>

    <a routerLink="/books" class="card-link">Retour vers les livres</a>
  </form>

</div>
