<div class="container">

  <div class="d-flex justify-content-between">

    <a routerLink="/book/new" class="card-link text-white">
      <button type="button"
              class="p-4 btn btn-dark">
        Ajouter un livre
      </button>
    </a>

    <h1 class="p-1">Books Manager !</h1>

    <a routerLink="/profil">
      <button type="button"
              class="p-4 btn btn-dark">
        Profil de {{user.firstname}}
      </button>
    </a>

    <button type="button"
            class="p-4 btn btn-dark"
            (click)="onSignOut()">Déconnexion
    </button>
  </div>

</div>

<hr>
