<app-header></app-header>

<div class="container">

  <div class="text-center">
    <button type="button"
            class="btn btn-dark"
            (click)="onSwitchAllStatus('pris')">Tout pris
    </button>
    |
    <button type="button"
            class="btn btn-dark"
            (click)="onSwitchAllStatus('libre')">Tout dispo
    </button>
  </div>

  <br>

  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr app-book *ngFor="let book of books; let i = index"
        [bookTitle]="book.title"
        [bookAuthor]="book.author"
        [bookStatus]="book.status"
        [bookId]="book.id"
        [index]="i"></tr>
    </tbody>
  </table>

</div>
