<td>{{bookTitle}}</td>
<td>{{bookAuthor}}</td>
<td>{{bookStatus}}</td>
<td>
  <button *ngIf="bookStatus === 'pris'"
          type="button"
          class="btn btn-dark"
          (click)="onSwitchStatus(index, 'libre')">Basculer en libre
  </button>
  <button *ngIf="bookStatus === 'libre'"
          type="button"
          class="btn btn-dark"
          (click)="onSwitchStatus(index, 'pris')">Basculer en pris
  </button>
  |
  <a class="text-white" [routerLink]="detailsUrl">
    <button type="button"
            class="btn btn-primary">
      Détails
    </button>
  </a>
  |
  <a class="text-white" [routerLink]="editUrl">
    <button type="button"
            class="btn btn-primary">
      Modifier
    </button>
  </a>
</td>
