<app-header></app-header>

<div class="container text-center">

  <div class="card mx-auto" style="width: 18rem;">

    <div class="card-body">

      <h5 class="card-title">{{book.title}} - {{book.status}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{book.author}}</h6>
      <p class="card-text">{{book.description}}</p>

      <a routerLink="/books" class="card-link">Retour vers les livres</a>

    </div>

  </div>

</div>
