<!--profil-view.component.html-->
<app-header></app-header>

<div class="container text-center">

  <div *ngIf="msg" class="text-center text-success m-1">{{msg}}</div>

  <form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">

    <div class="form-group">
      <label for="firstName">Prénom</label>
      <input type="text"
             id="firstName"
             class="form-control"
             formControlName="firstName">
    </div>

    <div class="form-group">
      <label for="lastName">Nom</label>
      <input type="text"
             id="lastName"
             class="form-control"
             formControlName="lastName">
    </div>

    <div class="form-group">
      <label for="email">Adresse e-mail</label>
      <input type="text"
             id="email"
             class="form-control"
             formControlName="email">
    </div>

    <div class="form-group">
      <label for="email">Mot de passe</label>
      <input type="password"
             id="password"
             class="form-control"
             formControlName="password">
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Mettre à jour</button>

    <br>

    <a routerLink="/books" class="card-link">Retour vers les livres</a>
  </form>

</div>
